---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const normalizedBaseUrl = import.meta.env.BASE_URL.endsWith('/')
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;
---

<div id="search" class="search-container"></div>

<link href={`${normalizedBaseUrl}pagefind/pagefind-ui.css`} rel="stylesheet" />
<script is:inline src={`${normalizedBaseUrl}pagefind/pagefind-ui.js`}></script>

<script is:inline>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({ element: "#search", showSubResults: true });
  });
</script>

<style>
  .search-container {
    margin: 2rem 0;
  }
</style>
